<div class="do">
  <h1>{{ title }}</h1>
  <p>The sum of {{ a }} and {{ b }} is {{ c || d }}</p>
  <button (click)="calculateSum()">Calculate Sum</button>
  <button (click)="clearTheInput()">Clear Input</button>
  <p>sum after: click = {{ d }}</p>
  <!-- TWO WAY DATA BINDING -->
  <label for="inputA">Input A:</label>
  <input type="number" id="inputA" [(ngModel)]="a" placeholder="Enter number for A">
  <label for="inputB">Input B:</label>
  <input type="number" id="inputB" [(ngModel)]="b" placeholder="Enter number for B">
  <input type="text" id="12" value="{{ a + b }}" placeholder="Sub of a and b" disabled>

  <p>Amount: {{ amount | currency:'RS :' }}</p>

  <!-- Auto Calculate -->
  <p>Auto calculated sum: {{ a + b }}</p>

  <div>
    <h2 [appHighlight]="'lightblue'">Message from Parent Component:</h2>
    <li *ngFor="let message of parentMessageArray">{{ message }}</li>
</div>

<p>Messages from child:</p>
<ul [appHighlight]="'lightgreen'">
  <li *ngFor="let msg of parentMessageArray">{{ msg }}</li>
</ul>

<app-chaildcomponment 
[alert-pop22]="'Message from Parent Component'" 
[alert-pop]="title"
[alert-pop3]="message2"
[PhoneNo]="035878566666"
(onsignUp)="onSignup($event)"
(onSignup2)="onSignup2($event)"
(phoneNo)="onPhoneNoSubmit($event)"
(parentMessage3)="onParentMessageReceived($event)"

></app-chaildcomponment>
